ACCESS_TOKEN_SECRET="<YOUR_SUPER_SECRET_ACCESS_TOKEN_HERE>"
REFRESH_TOKEN_SECRET="<YOUR_SUPER_SECRET_REFRESH_TOKEN_HERE>"

# 15 minutes
ACCESS_TOKEN_EXPIRY=900
# 7 days
REFRESH_TOKEN_EXPIRY=604800

ACCESS_TOKEN_COOKIE_NAME="access_token"
REFRESH_TOKEN_COOKIE_NAME="refresh_token"
